<ion-header>
  <ion-toolbar>
    <ion-title>Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-button class="itens" value ="itens" (click)="aba = 'itens'" [color]="aba === 'itens' ? 'primary' : 'medium'">
    Itens
  </ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="aba = 'custo'">
      <ion-icon name="trending-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

@if (aba === "itens") {
  <ion-item *ngFor="let item of lista.itens">
    {{item.nome}} - {{item.quantidade}} - R${{item.preco}}
  </ion-item>
}
@else if (aba === "custo") {
  <ion-item *ngFor="let c of comparacoes">
    {{c.nome}} - {{c.peso}} - R${{c.preco}}
    <ion-note slot="end">
      {{c.precoPorKg | number:'1.2-2'}} /kg
    </ion-note>
  </ion-item>
}

</ion-content>
