.titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    --background: #f8f8f8;
    --color: #333;
}

.itens{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
 .inputs{
    display: flex;
    flex-direction: column !important;
    gap: 10px;
}